@import url('&General/_vars.css');
/*@import url('../_vars.css');*/

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  min-width: 320px;
}
:global #app {
  height: 100%;
}
:global  #app > div{
  height: 100%;
}

.Page {
  height: 100%;
  box-sizing: border-box;
}
