/*
 * Globals
 */

/* Links */
/*a,
a:focus,
a:hover {
  color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}


html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}*/

.navbar-inverse {
  background-color: #fce39b !important;
  border-color: #fce39b !important;
  box-shadow:0 1px 3px rgba(0,0,0,0.2);
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #e8ce84;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-toggle {
  border-color: #b5a169 !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  border-color: #b5a169 !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #b5a169 !important;
}
