.cache
.idea
.vscode
lerna-debug.log
coverage
**/node_modules

build
release*
storage
.env*
!packages/docs
!scripts/release.sh

packages/*/build
packages/*/release*
packages/*/storage
packages/*/.env*
