.nanobar {
    position: absolute !important;
    top: 0;
    left: 0;
  }
    
  .nano {
    width: 100%;
    min-height: 100%;
  }
  
  .bar {
    background: tomato;
    height: 2px;
    max-width: 100%;
    box-shadow: 0 0 12px tomato, 0 0 5px tomato;
    overflow: hidden;
  }
  