@import url('&General/_vars.css');

.A {
  text-decoration: underline;
  cursor: pointer;
}

.A_style_primary {
  color: $color-primary;
  &:hover {
    color: $color-primary-hovered;
  }
}

.A_style_secondary {
  color: $color-secondary;
  &:hover {
    color: $color-secondary-hovered;
  }
}
