@import "../_vars.css";

.Slide {
  position: relative;
}
.Slide_center {
  text-align: center;
  z-index: 110;
}
.Slide_fixed {
  /*.Slide__inner {*/
  .Slide__content {
    /*@mixin gridColors;*/
    @mixin gridContainer;
  }
}

.Slide__inner {
  z-index: 110;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

}

.Slide__top {
  padding-top: 40px;
}
.Slide__middle {
  flex: 1;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  z-index: 110;
}
.Slide__bottom {
  padding-bottom: 40px;
}

.Slide__left {
}
.Slide__center {
  flex-grow: 1;
}
.Slide__right {
}

@define-mixin bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}


.Slide__noclick {
  @mixin bg;
  z-index: 103;
}

.Slide__overlay {
  @mixin bg;
  z-index: 102;
}

.Slide__video {
  @mixin bg;
  z-index: 101;
}
.Slide__videoForeground {
  /*@mixin bg;
  height: 300%;
   top: -100%;*/
   position: absolute; display: block; transform: translate3d(-50%, -50%, 0px); left: 50%; top: 50%;

  width: 1650px; height: 930px;
}
.Slide__video_youtube iframe{
  @mixin bg;
}

.Slide__image {
  @mixin bg;
  z-index: 100;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/////////////////

.video {
  position: absolute;
  /*z-index: 0;*/
  width: 1888px;
  height: 1347.44px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  margin-top: -170.72px;
  margin-left: -558px;
  transition-property: opacity;
  transition-duration: 1000ms;
}



// Youtube


.Slide__bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Slide__bg-video-inner {
  width: 100%;
  height: 100%;

  background-attachment: scroll;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
