@custom-media --xs (width  < 544px);
@custom-media --sm (544px  <= width < 768px);
@custom-media --md (768px  <= width < 992px);
@custom-media --lg (992px  <= width < 1200px);
@custom-media --xl (1200px <= width < 9999px);



@define-mixin gridColors {
  background: #fc8ffb;
  @media (--xs) {
    background: green;
  }
  @media (--sm) {
    background: blue;
  }
  @media (--md) {
    background: red;
  }
  @media (--lg) {
    background: yellow;
  }
  @media (--xl) {
    background: #01ffe1;
  }
}

@define-mixin gridContainer {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @media (--md) {
    width: 750px;
    /*width: 768px;*/
  }
  @media (--lg) {
    width: 970px;
    /*width: 992px;*/
  }
  @media (--xl) {
    width: 1170px;
    /*width: 1200px;*/
  }
}

$sk-paddings: 20px;


$sk-background: rgb(242, 242, 242);
$sk-whiteText: rgb(172, 172, 172);
$sk-whited: rgb(194, 194, 194);
$sk-shadow: rgba(0, 0, 0, 0.1);
$sk-muted: rgb(98, 98, 98);
$sk-primary: rgb(64, 64, 64); /*  основной цвет текста*/
$sk-blackBorder: rgb(56, 56, 56);
$sk-header: rgb(35, 35, 34);
$sk-red: rgb(218, 59, 55);
$sk-button: rgb(196, 200, 207);
