:global .btn[disabled] {
  cursor: wait !important;
}

.StatusButton {
  transition: .1s ease;
  will-change: transform;
  outline: none !important;

  &:hover,
  &:focus,
  &:active {
    outline: none !important;
  }

  .animate {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 1;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border .3s ease;
    &.spin {
        > svg {
          animation-name: spin;
          animation-duration: 600ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
     }
  }

  &.default {
    border-color: transparent !important;
    .animate {
      border: 2px solid #adadad;
      animation: spinner .8s infinite forwards, appear .3s 1;
    }
  }

  &.success {
    .animate {
      opacity: .2;
      animation: success .3s 1 forwards;
    }
  }

  &.danger {
    .animate {
      opacity: .2;
      animation: error .3s 1 forwards;
    }
  }
}

/* =================================== */

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

@keyframes success {
  to {
    opacity: 1;
    border: 2px solid transparent;
  }
}

@keyframes error {
  to {
    opacity: 1;
    border: 2px solid transparent;
  }
}

@keyframes spinner {
  0% {
    border-top-color: #48b1f1;
  }
  30% {
    border-right-color: #48b1f1;
  }
  60% {
    border-bottom-color: #48b1f1;
  }
  90% {
    border-left-color: #48b1f1;
  }
}
